<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [7]:
# Define the SQL query to fetch data from the table
query = "SELECT * FROM SPACEXTBL"

# Execute the query and store the result in a new DataFrame
result_df = pd.read_sql_query(query, con)

# Display the first few rows of the resulting DataFrame
print(result_df.head())

         Date Time (UTC) Booster_Version  Launch_Site  \
0  06/04/2010   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  12/08/2010   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  22/05/2012    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  10/08/2012    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  03/01/2013   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                0.0
1  Dragon demo flight C1, two CubeSats, barrel of...                0.0
2                              Dragon demo flight C2              525.0
3                                       SpaceX CRS-1              500.0
4                                       SpaceX CRS-2              677.0

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

In [8]:
# Display the names of the unique launch sites in the space mission
query = "SELECT DISTINCT Launch_Site \
         FROM SPACEXTBL"

result_df = pd.read_sql_query(query, con)
print(result_df)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40
4          None

In [9]:
# Other way assuming you have a DataFrame 'df' with a column 'LaunchSite'
unique_launch_sites = df['Launch_Site'].unique()

# display the unique launch sites
print("Unique Launch Sites:")
for site in unique_launch_sites:
    print(site)

Unique Launch Sites:
CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40
nan


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [10]:
query = "SELECT * FROM SPACEXTBL \
         WHERE Launch_Site LIKE 'CCA%' \
         LIMIT 5"

result_df = pd.read_sql_query(query, con)
print(result_df)

         Date Time (UTC) Booster_Version  Launch_Site  \
0  06/04/2010   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  12/08/2010   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  22/05/2012    7:44:00  F9 v1.0  B0005  CCAFS LC-40
3  10/08/2012    0:35:00  F9 v1.0  B0006  CCAFS LC-40
4  03/01/2013   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                0.0
1  Dragon demo flight C1, two CubeSats, barrel of...                0.0
2                              Dragon demo flight C2              525.0
3                                       SpaceX CRS-1              500.0
4                                       SpaceX CRS-2              677.0

       Orbit         Customer Mission_Outcome      Landing_Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [11]:
query = "SELECT SUM(PAYLOAD_MASS__KG_) AS Total_Payload_Mass \
         FROM SPACEXTBL \
         WHERE Customer = 'NASA (CRS)'"

result_df = pd.read_sql_query(query, con)
print(result_df)

   Total_Payload_Mass
0             45596.0

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [12]:
query = "SELECT ROUND(AVG(PAYLOAD_MASS__KG_),2) AS Average_Payload_Mass \
         FROM SPACEXTBL \
         WHERE Booster_Version like 'F9 v1.1%'"

result_df = pd.read_sql_query(query, con)
print(result_df)

   Average_Payload_Mass
0               2534.67

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [13]:
query = "SELECT MAX(Date) AS First_Successful_Landing_Date \
         FROM SPACEXTBL \
         WHERE Landing_Outcome = 'Success (ground pad)'"

result_df = pd.read_sql_query(query, con)
print(result_df)

  First_Successful_Landing_Date
0                    22/12/2015

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [14]:
query = "SELECT Booster_Version \
         FROM SPACEXTBL \
         WHERE Landing_Outcome = 'Success (drone ship)' \
         AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000"

result_df = pd.read_sql_query(query, con)
print(result_df)

  Booster_Version
0     F9 FT B1022
1     F9 FT B1026
2  F9 FT  B1021.2
3  F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [15]:
query = "SELECT Mission_Outcome, COUNT(*) as Total_Count \
         FROM SPACEXTBL \
         GROUP BY Mission_Outcome"

result_df_sql = pd.read_sql_query(query, con)
print(result_df_sql)

                    Mission_Outcome  Total_Count
0                              None          898
1               Failure (in flight)            1
2                           Success           98
3                          Success             1
4  Success (payload status unclear)            1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [16]:
query = "SELECT Booster_Version FROM SPACEXTBL \
         WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) \
         FROM SPACEXTBL)"

result_df_sql = pd.read_sql_query(query, con)
print(result_df_sql)

   Booster_Version
0    F9 B5 B1048.4
1    F9 B5 B1049.4
2    F9 B5 B1051.3
3    F9 B5 B1056.4
4    F9 B5 B1048.5
5    F9 B5 B1051.4
6    F9 B5 B1049.5
7   F9 B5 B1060.2
8   F9 B5 B1058.3
9    F9 B5 B1051.6
10   F9 B5 B1060.3
11  F9 B5 B1049.7

In [17]:
# DataFrame method - out of scope of this lab
max_payload = df['PAYLOAD_MASS__KG_'].max()
result_df_df = df[df['PAYLOAD_MASS__KG_'] == max_payload]['Booster_Version']

print(result_df_df)

74     F9 B5 B1048.4
77     F9 B5 B1049.4
79     F9 B5 B1051.3
80     F9 B5 B1056.4
82     F9 B5 B1048.5
83     F9 B5 B1051.4
85     F9 B5 B1049.5
92    F9 B5 B1060.2
93    F9 B5 B1058.3
94     F9 B5 B1051.6
95     F9 B5 B1060.3
99    F9 B5 B1049.7
Name: Booster_Version, dtype: object

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [18]:
query = """
    SELECT 
        substr(Date, 4, 2) AS Month,
        Landing_Outcome,
        Booster_Version,
        Launch_Site
    FROM
        SPACEXTBL
    WHERE
        substr(Date, 7, 4) = '2015'
        AND Landing_Outcome LIKE 'Failure%'
        AND substr(Date, 4, 2) IN ('01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12')
"""

result_df_sql = pd.read_sql_query(query, con)
print(result_df_sql)

  Month       Landing_Outcome Booster_Version  Launch_Site
0    10  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
1    04  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [19]:
query = """
    SELECT 
        substr(Date, 7, 4) AS Year,
        COUNT(*) AS Outcome_Count
    FROM
        SPACEXTBL
    WHERE
        Landing_Outcome like '%Success%'
        AND substr(Date, 7, 4) || '-' || substr(Date, 4, 2) || '-' || substr(Date, 1, 2) \
        BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY
        Year
    ORDER BY
        Year
"""

result_df_sql = pd.read_sql_query(query, con)
print(result_df_sql)

   Year  Outcome_Count
0  2015              1
1  2016              5
2  2017              4

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>